<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Board">


<insert id="insertPost">
	<selectKey keyProperty="post_id" resultType="Long" order="BEFORE">
		select seq_community_post.nextval from dual
	</selectKey>
	insert into community_post (post_id, member_id, category, title, content, view_count, 
	like_count, report_count, created_at, updated_at) values 
	(#{post_id}, #{member_id}, #{category}, #{title}, #{content}, 0, 
	0, 0, sysdate, sysdate)
</insert>

<select id="selectCount" resultType="int">
	select count(*) from community_post
</select>


<select id="selectList" resultType="com.study.app.domains.board.dto.CommunityPostDTO">
	select * from (select cp.post_id, cp.member_id, cp.category, cp.title, cp.content,
	 cp.view_count, cp.like_count, cp.report_count, cp.created_at, m.nickname, row_number() over (order by cp.post_id desc) as find_num
	 from community_post cp left join member m on cp.member_id = m.member_id)
	 where find_num between #{startNum} and #{endNum} 
</select>

<select id="selectById" resultType="com.study.app.domains.board.dto.CommunityPostDTO">
	select cp.post_id, cp.member_id, cp.category, cp.title, cp.content, cp.like_count, cp.view_count,
	 cp.created_at, m.nickname
	 from community_post cp left join member m on cp.member_id = m.member_id
	 where cp.post_id = #{id}
</select>

<update id="updatePostById">
	update community_post set title = #{title}, content = #{content} where post_id = #{post_id} 
</update>

<delete id="deletePostById">
	delete community_post board where post_id = #{id}
</delete>

<update id="increaseViewCount">
    UPDATE community_post
    SET view_count = NVL(view_count, 0) + 1
    WHERE post_id = #{post_id}
</update>

<update id="increaseReportCount">
    UPDATE community_post
    SET report_count = NVL(report_count, 0) + 1
    WHERE post_id = #{post_id}
</update>


</mapper>