<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.app.domains.gathering.GatheringMapper">

	<!--자유 모임 생성-->
    <insert id="insertGathering" parameterType="com.study.app.domains.gathering.GatheringCreateDTO">
        <selectKey keyProperty="roomId" resultType="long" order="BEFORE">
            SELECT SEQ_CHAT_ROOM.NEXTVAL FROM DUAL
        </selectKey>

        INSERT INTO CHAT_ROOM (
            room_id,
            room_type,
            festival_id,
            owner_id,
            room_title,
            room_description,
            free_location,
            free_date,
            max_capacity,
            created_at
        ) VALUES (
            #{roomId},
            'GROUP',              
            #{festivalId},        
            #{ownerId},
            #{roomTitle},
            #{roomDescription},
            #{freeLocation},
            #{freeDate},          
            #{maxCapacity},
            SYSDATE    
        )
    </insert>
	
	<!--자유 모임 생성시 생성자도 참여자로 등록-->
    <insert id="insertRoomUser">
        INSERT INTO CHAT_ROOM_USER (
            seq,
            room_id,
            member_id,
            joined_at,
            last_read_at
        ) VALUES (
            SEQ_CHAT_ROOM_USER.NEXTVAL,
            #{roomId},
            #{memberId},
            SYSDATE,
            SYSTIMESTAMP
        )
    </insert>

</mapper>