<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.app.domains.gathering.GatheringMapper">

	<!--자유 모임 생성-->
	<insert id="insertGathering"
		parameterType="com.study.app.domains.gathering.GatheringCreateDTO">
		<selectKey keyProperty="room_id" resultType="long" order="BEFORE">
			SELECT SEQ_CHAT_ROOM.NEXTVAL FROM DUAL
		</selectKey> INSERT INTO
		CHAT_ROOM ( room_id, room_type, festival_id, owner_id, room_title,
		room_description, free_location, free_date, max_capacity, created_at )
		VALUES ( #{room_id}, 'GROUP', #{festival_id}, #{owner_id},
		#{room_title}, #{room_description}, #{free_location}, #{free_date},
		#{max_capacity}, SYSDATE ) </insert>

	<!--자유 모임 생성시 생성자도 참여자로 등록-->
	<insert id="insertRoomUser">
		INSERT INTO CHAT_ROOM_USER (
		seq,
		room_id,
		member_id,
		joined_at,
		last_read_at
		) VALUES (
		SEQ_CHAT_ROOM_USER.NEXTVAL,
		#{room_id},
		#{member_id},
		SYSDATE,
		SYSTIMESTAMP
		)
	</insert>

	<!--자유 모임 목록 조회-->
	<select id="selectGatheringList"
		resultType="com.study.app.domains.gathering.GatheringCreateDTO">
		SELECT
			cr.room_id,
			cr.room_type,
			cr.festival_id,
			cr.owner_id,
			cr.room_title,
			cr.room_description,
			cr.free_location,
			cr.free_date,
			cr.max_capacity,
			cr.created_at,
			m.nickname,
			m.profile_image_url,  (
				SELECT COUNT(*) 
				FROM chat_room_user cru 
				WHERE cru.room_id = cr.room_id
			) AS current_count
		FROM chat_room cr
		LEFT JOIN member m ON cr.owner_id = m.member_id WHERE cr.room_type = 'GROUP'
		ORDER BY cr.room_id DESC
	</select>
	
	<!--자유 모임 자세히보기 조회-->
	<select id="selectGatheringDetail" parameterType="long" resultType="com.study.app.domains.gathering.GatheringCreateDTO">
	    SELECT
	        cr.room_id,
	        cr.room_type,
	        cr.festival_id,
	        cr.owner_id,
	        cr.room_title,
	        cr.room_description,
	        cr.free_location,
	        cr.free_date,
	        cr.max_capacity,
	        cr.created_at,
	        m.nickname,
	        m.profile_image_url,
	        (SELECT COUNT(*) FROM chat_room_user cru WHERE cru.room_id = cr.room_id) AS current_count
	    FROM chat_room cr
	    LEFT JOIN member m ON cr.owner_id = m.member_id
	    WHERE cr.room_id = #{room_id}
	</select>
	
	<!--자유 모임 참여자 목록 상세 조회-->
	<select id="selectParticipants" 
			parameterType="long" 
			resultType="map">
		SELECT 
			m.member_id, 
			m.nickname,
			m.profile_image_url
		FROM chat_room_user cru
		JOIN member m ON cru.member_id = m.member_id
		JOIN chat_room cr ON cru.room_id = cr.room_id
		WHERE cru.room_id = #{room_id}
		  AND cru.member_id != cr.owner_id
	</select>

</mapper>