<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.app.domains.member.MemberDAO">

	<insert id="insertMember" parameterType="com.study.app.domains.member.dto.MemberDTO">
	    INSERT INTO MEMBER (
	        MEMBER_ID, PASSWORD, NAME, NICKNAME, PHONE,
	        EMAIL, BIRTHDATE, GENDER, ADDR_SIDO, ADDR_SIGUNGU,
	        RESIDE_AREA_CODE, RESIDE_SIGUNGU_CODE,
	        PROFILE_IMAGE_URL, SOCIAL_PROVIDER, SOCIAL_ID,
	        EXP_POINT, TITLE_ID, CREATED_AT
	    ) VALUES (
	        #{member_id}, #{password}, #{name}, #{nickname}, #{phone},
	        #{email}, #{birthdate}, #{gender}, #{addr_sido}, #{addr_sigungu},
	        #{reside_area_code}, #{reside_sigungu_code},
	        #{profile_image_url}, COALESCE(#{social_provider}, 'LOCAL'), #{social_id},
	        0, #{title_id}, SYSDATE
	    )
	</insert>
	
	<insert id="insertInterestTheme"
	    parameterType="com.study.app.domains.member.dto.InterestThemeDTO">
	
	    INSERT INTO MEMBER_INTEREST_THEME (
	        MEMBER_ID,
	        THEME_CODE
	    )
	    VALUES (
	        #{member_id},
	        #{theme_code}
	    )
	
	</insert>
	
	<insert id="insertInterestRegion"
	    parameterType="com.study.app.domains.member.dto.InterestRegionDTO">
	
	    INSERT INTO MEMBER_INTEREST_REGION (
	        MEMBER_ID,
	        REGION_CODE

	    )
	    VALUES (
	        #{member_id},
	        #{region_code}

	    )
	
	</insert>

    <select id="selectMemberById" parameterType="string" resultType="com.study.app.domains.member.dto.MemberDTO">
        SELECT * FROM MEMBER WHERE MEMBER_ID = #{member_id}
    </select>

    <select id="selectInterestRegions" parameterType="string" resultType="com.study.app.domains.member.dto.InterestRegionDTO">
		        SELECT 
		    r.*, 
		    rm.REGION_NAME
		FROM 
		    MEMBER_INTEREST_REGION r
		JOIN (
		    SELECT REGION_CODE, MIN(REGION_NAME) AS REGION_NAME
		    FROM REGION_MASTER
		    GROUP BY REGION_CODE
		) rm ON r.REGION_CODE = rm.REGION_CODE
		WHERE 
		    r.MEMBER_ID = #{member_id}
    </select>

    <select id="selectInterestThemes" parameterType="string" resultType="com.study.app.domains.member.dto.InterestThemeDTO">
        SELECT t.*,tm.THEME_NAME FROM MEMBER_INTEREST_THEME T 
        LEFT JOIN 
	    THEME_MASTER tm ON t.THEME_CODE = tm.THEME_CODE
		WHERE MEMBER_ID = #{member_id}
    </select>

    <update id="updateMember" parameterType="com.study.app.domains.member.dto.MemberDTO">
        UPDATE MEMBER
        <set>
            <if test="nickname != null">NICKNAME = #{nickname},</if>
            <if test="phone != null">PHONE = #{phone},</if>
            <if test="addr_sido != null">ADDR_SIDO = #{addr_sido},</if>
            <if test="addr_sigungu != null">ADDR_SIGUNGU = #{addr_sigungu},</if>
            <if test="reside_area_code != null">RESIDE_AREA_CODE = #{reside_area_code},</if>
            <if test="reside_sigungu_code != null">RESIDE_SIGUNGU_CODE = #{reside_sigungu_code},</if>
            <if test="profile_image_url != null">PROFILE_IMAGE_URL = #{profile_image_url}</if>
        </set>
        WHERE MEMBER_ID = #{member_id}
    </update>

    <delete id="deleteInterestThemes" parameterType="string">
        DELETE FROM MEMBER_INTEREST_THEME WHERE MEMBER_ID = #{member_id}
    </delete>

    <delete id="deleteInterestRegions" parameterType="string">
        DELETE FROM MEMBER_INTEREST_REGION WHERE MEMBER_ID = #{member_id}
    </delete>
    
   <select id="selectUserNickname" resultType="string">
       SELECT nickname
       FROM member
       WHERE member_id = #{member_id}
   </select>

</mapper>