<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.app.dao.MemberDAO">

	<insert id="insertMember" parameterType="com.study.app.dto.MemberDTO">
		INSERT INTO MEMBER (
			MEMBER_ID, PASSWORD, NAME, NICKNAME, PHONE, 
			EMAIL, BIRTHDATE, GENDER, ADDR_SIDO, ADDR_SIGUNGU, 
			RESIDE_AREA_CODE, RESIDE_SIGUNGU_CODE, PROFILE_IMAGE_URL, SOCIAL_PROVIDER, EXP_POINT, 
			TITLE_ID, CREATED_AT
		) VALUES (
			#{member_id}, #{password}, #{name}, #{nickname}, #{phone}, 
			#{email}, #{birthdate}, #{gender}, #{addr_sido}, #{addr_sigungu}, 
			#{reside_area_code}, #{reside_sigungu_code}, #{profile_image_url}, 
			COALESCE(#{social_provider}, 'LOCAL'), 0, 
			#{title_id}, SYSDATE
		)
	</insert>

</mapper>