<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PostReport">


    <!-- 같은 사용자가 같은 게시글을 이미 신고했는지 확인 -->
    <select id="countReport" resultType="int">
        SELECT COUNT(*)
        FROM POST_REPORT
        WHERE post_id = #{post_id}
          AND member_id = #{member_id}
    </select>

    <!-- 게시글 신고 -->
    <insert id="insertReport">
        INSERT INTO POST_REPORT (
            report_id,
            post_id,
            member_id,
            reason,
            created_at
        ) VALUES (
            post_report_seq.NEXTVAL,
            #{post_id},
            #{member_id},
            #{reason},
            SYSDATE
        )
    </insert>


</mapper>