<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="Theme">
  
	<select id="selectAllTheme" resultType="com.study.app.domains.theme.ThemeMasterDTO">
	    SELECT THEME_CODE, THEME_NAME FROM THEME_MASTER ORDER BY THEME_CODE
	</select>

  </mapper>